form.rgt {
    margin: 20px 0px 20px;
    padding: 0 0 20px;
	width:690px;
}

form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form li {
    margin: 0;
    padding: 6px 1% 9px;
	background:none !important;
	padding-left:0px !important;
}

form li.leftHalf {
    clear: left !important;
    float: left;
}

form li.leftHalf, form li.rightHalf {
    width: 49%;
}

form li.rightHalf {
    clear: none !important;
    float: right;
}

.full {
    width: 100% !important;
}

label.desc, legend.desc {
    border: medium none;
    color: #222222;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
    white-space: normal;
    width: 100%;
}

input, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border:1px solid #dedede;padding:8px;-webkit-border-radius: 3px;-moz-border-radius: 3px; 		 			    border-radius: 3px;
    padding: 8px;
    width: 290px;
}

input.text, textarea.textarea, input.file, select.select {
    color: #333333;
    width: 92%;
}

input:focus,textarea:focus{background:#f7f6f6;color:#333;}

li.country, .pin, .city {
    width: 32.2%;
	float: left;
}
input.city, select.country {
    color: #333333;
    width: 175px;
}
.form-submit input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: auto;
    padding-right: 27px;
    width: auto;
	float: right;
}